<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_robotiq2f">

  <!-- common stuff -->
  <!-- <xacro:include filename="$(find ur_gazebo)/urdf/ur.xacro" /> -->

  <!-- include macros for UR5 and Robotiq 2f hand -->
  <xacro:include filename="$(find ur_description)/urdf/inc/ur5_macro.xacro" />
  <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model_macro.xacro" />

  <!-- create the robot + eef combo itself as a macro -->
  <xacro:macro name="ur5_with_robotiq" params="prefix">

    <!-- instantiate UR5 and Robotiq 2f hand -->
    <xacro:ur5_robot prefix="${prefix}robot_"/>
    <xacro:robotiq_arg2f_85 prefix="${prefix}gripper_" />

    <!-- attach gripper to UR5 -->
    <joint name="${prefix}tool0-${prefix}robotiq_arg2f_base_link" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}robot_tool0" />
      <child link="${prefix}gripper_robotiq_arg2f_base_link" />
    </joint>

    <!-- Define th ur5's position and orientation in the world coordinate system -->
    <link name="world" />
    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link="${prefix}robot_base_link" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>
  </xacro:macro>

<xacro:ur5_with_robotiq prefix=""/>


</robot>

